*{
    font-family: "Lato Regular", Helvetica, sans-serif ;
    color: rgb(0, 0, 0);
}

h1{
    margin-left: auto;
    margin-right: auto;
    color: red;
    border-bottom-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    font-size: 40px;
    text-align: center;
}

body{    
    margin-left: auto;
    margin-right: auto;
    width: 210mm;
    display: flex;    
}

aside{
    background-color: beige;
    padding: 20px;
    flex-grow: 1;
}

main{
    background-color: beige;
    padding: 20px;    
    flex-grow: 3;
}

a{
    font-size: 30px;
    margin: 10px;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}
  