*{
    font-family: "Lato Regular", Helvetica, sans-serif ;
    color: rgb(0, 0, 0);
}

h2{
    color: red;
    border-bottom-color: black;
    border-bottom: 1px;
    border-bottom-style: solid;
    
}

body{    
    margin-left: auto;
    margin-right: auto;
    width: 210mm;
    display: flex;    
}

aside{
    background-color: beige;
    padding: 20px;
    flex-grow: 1;
}

main{
    background-color: beige;
    padding: 20px;    
    flex-grow: 3;
}