*{
    font-family: "Lato Regular", Helvetica, sans-serif ;
    color: rgb(0, 0, 0);
}

body{
    margin-left: auto;
    margin-right: auto;
    width: 210mm;
    display: flex;    
}

aside{
    padding: 20px;
    background-color: rgb(100, 138, 196);
    flex-grow: 1;
}

main{
    padding: 20px;
    background-color: beige;
    flex-grow: 3;
}